p, li, h1 {
	font-family: "Roboto", sans-serif; /* this should be the rest of the output you got from Google fonts */

}
p {
  font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
}

img {
    max-width:80%;
    height:auto;
    display: block;
    margin:auto;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;    
  color: #C87A34;
  text-shadow: 2px 2px 2px black;
}


p, li {
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
}

html {
  background-color: #D9EBD5;
}

body {
  width: 70%;
  margin: 0 auto;
  background-color: #C9E1ED;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}